*{
  margin:0;
  bottom:0;
  box-sizing: border-box;
  
}

body {
    width:100%;
    font-family: Arial, sans-serif;
    text-align:center;
    background: linear-gradient(87deg, rgba(238, 174, 202, 1) 10%, rgba(148, 187, 233, 1) 37%, rgba(6, 54, 124, 1) 78%);
  }

  h1 {
    text-align: center;
    position:relative;

  }

  p {
    position:relative;
  }

  .container{
    width:100vw;

  }

  h1, h2, p {
    padding:15px;

  }